<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vue MQTT Sample</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.1.5/dist/vuetify.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
</head>
<body>
  <v-app>
        <div id="app">
            <v-card>
              <v-card-title>
                <h2>[[ room.value ]]</h2>
              </v-card-title>
              <v-card-text>
                <p>[[ temperature.value ]] &#8451;</p>
                <p>[[ humidity.value ]] &#37;</p>
                <p>[[ baro_pressure.value ]] bar</p>
              </v-card-text>
            </v-card>
        </div>
  </v-app>

  <!--pre>
    {{ data }}
  </pre-->


  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/socket.io-client/dist/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.5/dist/vuetify.min.js"></script>
  <!-- Load the Vue app and connect to the WebSocket server -->
  <script>
    const { createApp, ref, onMounted } = Vue
    const { createVuetify } = Vuetify
    const vuetify = createVuetify()

    console.log('http://{{ data.server_ip }}:{{ data.server_port }}')

    const app = createApp({
      setup() {
        const room = ref('')
        const temperature = ref(0)
        const humidity = ref(0)
        const baro_pressure = ref(0)

        onMounted(() => {
          // const socket = io('http://192.168.15.23:5000')
          const socket = io('http://{{ data.server_ip }}:{{ data.server_port }}')
          socket.on('mqtt_message', (message) => {
            console.log(message)
            room.value = ref(message.topic.split('/')[1])
            if (message.topic === 'dashboard/dummy/temperature') {
              console.log(parseFloat(message.payload))
              temperature.value = ref(parseFloat(message.payload))
            }
            if (message.topic === 'dashboard/dummy/humidity') {
              console.log(parseFloat(message.payload))
              humidity.value = ref(parseFloat(message.payload))
            }
            if (message.topic === 'dashboard/dummy/baro_pressure') {
              console.log(parseFloat(message.payload))
              baro_pressure.value = ref(parseFloat(message.payload))
            }
          })
        })

        return {
          room,
          temperature,
          humidity,
          baro_pressure
        }
      },
      delimiters: ['[[', ']]']
    })
    
    app
      .use(vuetify)
      .mount('#app')

  </script>
</body>
</html>

