<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vue MQTT Sample</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.1.5/dist/vuetify.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
</head>
<body>
  <v-app>
        <div id="app">
            <v-card>
              <v-card-title>
                <h3>[[ room.value ]]</h3>
              </v-card-title>
              <v-card-subtitle>
                [[ mdat.tstamp ]]
              </v-card-subtitle>
              <v-card-text>
                <p>[[ mdat.temperature ]] &#8451;</p>
                <p>[[ mdat.humidity ]] &#37;</p>
                <p>[[ mdat.baro_pressure ]] bar</p>
              </v-card-text>
            </v-card>
        </div>
  </v-app>

  <!--pre>
    {{ data }}
  </pre-->

  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/socket.io-client/dist/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.5/dist/vuetify.min.js"></script>
  <!-- Load the Vue app and connect to the WebSocket server -->
  <script>
    const { createApp, ref, onMounted } = Vue
    const { createVuetify } = Vuetify
    const vuetify = createVuetify()

    console.log('http://{{ data.server_ip }}:{{ data.server_port }}')

    const app = createApp({
      setup() {
        let room = ref('')
        let mdat = ref({
          date : "",
          tstamp: 0,
          temperature : 0,
          humidity : 0,
          baro_pressure : 0
        })

        onMounted(() => {
          // const socket = io('http://192.168.15.23:5000')
          const socket = io('http://{{ data.server_ip }}:{{ data.server_port }}')
          socket.on('mqtt_message', (message) => {
            console.log(message, message.topic)
            lroom = message.topic.split('/')[1]
            room.value = ref(lroom)
            if (message.topic === 'dashboard/' + lroom) {
              mdat.value = JSON.parse(message.payload)
              let date = new Date(mdat.value.tstamp * 1000) 
              console.log(mdat.value.tstamp, date)
            }
           })
        })

        return {
          room,
          mdat
        }
      },
      delimiters: ['[[', ']]']
    })
    
    app
      .use(vuetify)
      .mount('#app')

  </script>
</body>
</html>

